In [1]:
import pandas as pd
df = pd.read_csv('teploty.csv')
print(df)

     R    P    V    N
0  4.0  8.2  6.3  2.1
1  3.2  9.0  NaN  3.0
2  NaN  8.1  6.3  2.4
3  2.7  6.3  5.2  1.9

In [2]:
df.values # alternativní zobrazení jako NumPy array

array([[4. , 8.2, 6.3, 2.1],
       [3.2, 9. , nan, 3. ],
       [nan, 8.1, 6.3, 2.4],
       [2.7, 6.3, 5.2, 1.9]])

In [3]:
df.isnull().sum()

R    1
P    0
V    1
N    0
dtype: int64

In [4]:
print(df.dropna())

     R    P    V    N
0  4.0  8.2  6.3  2.1
3  2.7  6.3  5.2  1.9

In [5]:
print(df.dropna(axis=1))

     P    N
0  8.2  2.1
1  9.0  3.0
2  8.1  2.4
3  6.3  1.9

In [6]:
df.dropna(subset=['V'])
# df.dropna(how='all')
# df.dropna(inplace=True)

     R    P    V    N
0  4.0  8.2  6.3  2.1
2  NaN  8.1  6.3  2.4
3  2.7  6.3  5.2  1.9

In [12]:
from sklearn.impute import SimpleImputer
import numpy as np

In [13]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df)
data = imputer.transform(df.values)
data.round(2)

array([[4.  , 8.2 , 6.3 , 2.1 ],
       [3.2 , 9.  , 5.93, 3.  ],
       [3.3 , 8.1 , 6.3 , 2.4 ],
       [2.7 , 6.3 , 5.2 , 1.9 ]])