In [3]:
import pandas as pd
df = pd.read_csv('teploty.csv')
df1= [[item for item in line.split(",")]for line in open('teploty.csv','r')]
print(df)
print(df1)

     R    P    V    N
0  4.0  8.2  6.3  2.1
1  3.2  9.0  NaN  3.0
2  NaN  8.1  6.3  2.4
3  2.7  6.3  5.2  1.9
[['R', 'P', 'V', 'N\n'], ['4.0', '8.2', '6.3', '2.1\n'], ['3.2', '9', '', '3.0\n'], ['', '8.1', '6.3', '2.4\n'], ['2.7', '6.3', '5.2', '1.9']]

In [4]:
df.values # alternativní zobrazení jako NumPy array

array([[4. , 8.2, 6.3, 2.1],
       [3.2, 9. , nan, 3. ],
       [nan, 8.1, 6.3, 2.4],
       [2.7, 6.3, 5.2, 1.9]])

In [8]:
df.isnull().sum(axis=1)

0    0
1    1
2    1
3    0
dtype: int64

In [4]:
print(df.dropna())

     R    P    V    N
0  4.0  8.2  6.3  2.1
3  2.7  6.3  5.2  1.9

In [5]:
print(df.dropna(axis=1))

     P    N
0  8.2  2.1
1  9.0  3.0
2  8.1  2.4
3  6.3  1.9

In [6]:
df.dropna(subset=['V'])
# df.dropna(how='all')
# df.dropna(inplace=True)

     R    P    V    N
0  4.0  8.2  6.3  2.1
2  NaN  8.1  6.3  2.4
3  2.7  6.3  5.2  1.9

In [14]:
from sklearn.impute import SimpleImputer
import numpy as np

In [17]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df)
data = imputer.transform(df.values)
data.round(2)

array([[4.   , 8.2  , 6.3  , 2.1  ],
       [3.2  , 9.   , 5.933, 3.   ],
       [3.3  , 8.1  , 6.3  , 2.4  ],
       [2.7  , 6.3  , 5.2  , 1.9  ]])

In [24]:
np.random.seed(24)
df = pd.DataFrame({
'U': np.random.randint(0, 100, 10),
'V': np.random.randint(-10, 10, 10)
})
print(df.T)

    0  1   2   3   4   5  6   7  8   9
U  34  3  64  87  17  17  1  79  4  99
V   8  1  -7   9   5  -3 -1   8 -3  -7

In [26]:
from sklearn.preprocessing import MinMaxScaler
mm_scaler = MinMaxScaler(feature_range=(0, 1))
df_scaled = mm_scaler.fit_transform(df)
print(df_scaled.round(1).T)

[[0.3 0.  0.6 0.9 0.2 0.2 0.  0.8 0.  1. ]
 [0.9 0.5 0.  1.  0.8 0.2 0.4 0.9 0.2 0. ]]

In [27]:
mm_normalizer = MinMaxScaler()
df_normalized = mm_normalizer.fit_transform(df)
print(df_normalized.round(2).T)

[[0.34 0.02 0.64 0.88 0.16 0.16 0.   0.8  0.03 1.  ]
 [0.94 0.5  0.   1.   0.75 0.25 0.38 0.94 0.25 0.  ]]